html, body {
  padding: 5px;
}

.hero-image {
  background-image: url('Assets/banner.png');
  background-size: cover;
  aspect-ratio: 16 / 9;
  margin: auto;
}

.navbar {
  font-size: x-small;
}

iframe {
  display: block;
  aspect-ratio: 16 / 9;
  width: 100%;
  margin: auto;

}

.character-art {
  width: 50%;
}

.card-img-overlay {
  display: none;
  color: white;
  background-color:rgba(0, 0, 0, 0.75);
  overflow-y: scroll;
}

.card-text {
  font-size: large;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4f4f4f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navbar-brand img {
  height: 30px;
  margin-left: -15px;
}